#nav{
    width: -webkit-fill-available;
    background-color: black;
}
#textdec{
    color: white;
    margin-top: 1rem;
}
@media only screen and (max-width: 767px)
{
    #nav{
        width: -webkit-fill-available;
        background-color: black;
    }
}